/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.sn-form .sn-form-group {
  margin-bottom: 10px;
}

.sn-form .bloc-form {
  margin-bottom: 20px;
}

.sn-flex {
  display: flex;
  align-items: center;
}

.sn-text-center {
  text-align: center;
}

.sn-text-right {
  text-align: right;
}

.sn-flex-column {
  flex-direction: column;
}

.sn-flex-row {
  flex-direction: row;
}

.sn-w-10 {
  width: 10%;
}

.sn-w-20 {
  width: 20%;
}

.sn-w-30 {
  width: 30%;
}

.sn-w-40 {
  width: 40%;
}

.sn-w-50 {
  width: 50%;
}

.sn-w-60 {
  width: 60%;
}

.sn-w-70 {
  width: 70%;
}

.sn-w-80 {
  width: 80%;
}

.sn-w-90 {
  width: 90%;
}

.sn-w-100 {
  width: 100%;
}

.sn-tabs .nav-item {
  margin-top: 1px;
  margin-bottom: -1px;
}

.sn-tabs .nav-item .nav-link {
  background-color: #F0F8FF;
  border-color: #F0F8FF #F0F8FF white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  color: #6E7782;
  padding: 1rem 1.4rem;
  outline: none;
  border-bottom: solid #F0F8FF 1px;
}

.sn-tabs .nav-item .nav-link.active {
  display: block;
  background-color: #F0F8FF;
  border-color: #F0F8FF #F0F8FF #17AAF5;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  padding: 1rem 1.4rem;
  outline: none;

  color: #17AAF5;
}

.sn-tabs .nav-item .nav-link:hover {
  border-color: #17AAF5;
}